.button {
  background: linear-gradient(
      288.46deg,
      rgba(0, 0, 0, 0.2) -12.86%,
      rgba(0, 0, 0, 0) 66.5%
    ),
    #45c436;
  border-radius: 12.6rem;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #fff;
}
