@import "abstracts/mixins";

.wrapper__header {
  min-width: 100vw;
  border-bottom: 0.2rem solid #dadada;
  display: flex;
  justify-content: center;
  background-color: transparent;
  position: relative;
  z-index: 100;

  &-active {
    background-color: #ffffff;
  }
}

.wrapper__header-hidden {
  min-width: 100vw;
  display: flex;
  justify-content: center;
  background-color: transparent;
  position: relative;
  z-index: 80;
  &-active {
    background-color: #ffffff;
  }
}
.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 9rem;
  background-color: transparent;

  @media (max-width: 639.98px) {
    grid-template-rows: 4.7rem;
    padding-right: 0;
  }
  &__menu-box {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 3.7rem;
    @media (max-width: 639.98px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 0;
    }
  }

  &__btn-box {
    display: flex;
    column-gap: 1.1rem;
    align-items: center;
  }

  &__search {
    display: flex;
    align-items: center;
    column-gap: 1.4rem;
    @media (max-width: 639.98px) {
      border-left: 0.2rem solid #dadada;
      height: 4.7rem;
      justify-content: center;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    @media (max-width: 639.98px) {
      display: none;
    }
  }

  &__phone {
    @include style-link;
    font-size: 1.8rem;
    line-height: 2.1rem;
  }

  &__time-work {
    background: #2ad200;
    border-radius: 67px;
    width: 14rem;
    height: 2.5rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    line-height: 1.7rem;
    position: relative;
    padding-left: 0.8rem;
  }
  &__time-work::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.9rem;
    width: 0.6rem;
    height: 0.6rem;
    background-color: #ffffff;
    border-radius: 50%;
  }
}
.btn {
  &__button {
    display: grid;
    grid-template-columns: 1.9rem;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 0.6rem;
  }
  &__button-item {
    width: 2.5rem;
    height: 0.1rem;
    background-color: $color-text;
    transition: all ease 0.3s;
  }
  &__button-item:last-child {
    width: 1.9rem;
    @media (max-width: 639.98px) {
      width: 2.5rem;
    }
  }
  &__button-item-active:last-child {
    display: none;
  }
  &__button-item-active:first-child {
    transform: translateY(7px) rotate(45deg);
    transition: all ease 0.3s;
  }
  &__button-item-active:nth-child(2) {
    transform: rotate(-45deg);
    transition: all ease 0.3s;
  }
  &__text {
    font-size: 1.6rem;
    line-height: 1.9rem;
    @media (max-width: 639.98px) {
      display: none;
    }
  }
}
.search {
  &__favourites {
    padding: 0;
  }
  &__favourites img {
    @media (max-width: 639.98px) {
      width: 1.8rem;
      height: 1.8rem;
    }
  }

  &__box {
    padding: 0;
    @media (max-width: 639.98px) {
      display: none;
    }
  }
}
.logo {
  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 639.98px) {
      border-right: 0.2rem solid #dadada;
      border-left: 0.2rem solid #dadada;
    }
  }

  &__img img {
    @media (max-width: 639.98px) {
      width: 2.3rem;
      height: 1.7rem;
    }
  }

  &__text {
    font-size: 3.6rem;
    line-height: 4.3rem;
    @media (max-width: 639.98px) {
      font-size: 1.6rem;
      line-height: 1.9rem;
    }
  }
}

.contact-mobile {
  display: none;
  @media (max-width: 639.98px) {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4.7rem;
  }
  &__link {
    display: block;
    text-align: center;
  }
  &__link:first-child {
    border-right: 0.2rem solid #dadada;
  }
  &__btn.header-whatsapp {
    width: 1.9rem;
    height: 4.7rem;
  }
  &__btn.header-phone {
    width: 1.7rem;
    height: 4.7rem;
  }
}
.header-hidden {
  position: relative;
  display: grid;
  grid-template-columns: 63% 37%;
  grid-template-rows: 10.9rem;
  transform: translateY(-150%);
  opacity: 0;
  transition: transform 0.3s;
  backface-visibility: hidden;
  background-color: #ffffff;
  z-index: 9;

  @media (max-width: 767.98px) {
    grid-template-columns: 29rem;
    grid-template-rows: 3fr 1fr;
    grid-row-gap: 4.3rem;
    padding-top: 2rem;
    position: absolute;
    padding-right: 0;
  }
  &__menu-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    grid-row-gap: 1.1rem;
    grid-column-gap: 11.4rem;
    list-style: none;
    @media (max-width: 1199.98px) {
      grid-column-gap: 1rem;
    }
    @media (max-width: 767.98px) {
      grid-template-columns: 320px;
      grid-template-rows: repeat(6, 1fr);
      grid-template-columns: 1fr;
    }
  }

  &__menu-item {
    font-size: 1.6rem;
    line-height: 1.9rem;
    a {
      color: $color-text;
    }
  }
  &__menu-item:nth-child(1) {
    align-self: end;
  }
  &__menu-item:nth-child(2) {
    align-self: end;
  }
  &__menu-item:nth-child(3) {
    align-self: end;
  }
  &__menu-item:nth-child(4) {
    @media (max-width: 767.98px) {
      grid-row: 1/2;
    }
  }
  &__menu-item:nth-child(5) {
    @media (max-width: 767.98px) {
      grid-row: 3/4;
    }
  }
  &__work {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    font-size: 1.6rem;
    line-height: 1.9rem;
    justify-items: end;
    @media (max-width: 767.98px) {
      justify-items: start;
    }
  }

  &__time-box {
    align-self: end;
    display: flex;
    justify-content: end;
  }

  &__email {
    margin-right: 5.8rem;
  }
}
.header-hidden-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform ease 0.3s;
}
